body {
  color: white; /* Define a cor do texto como branca */
  background: black; /* Define a cor de fundo da página como preta */
  margin: 0px; /* Que maior o numero mais pro centro ele vai */
  font-family: "Chakra Petch", sans-serif; /* Altera a fonte do texto como "Chakra Petch", se disponível, ou então usa uma fonte sans-serif padrão */
  margin-bottom: 100px; /* Define uma margem inferior de 100px (afastamento do conteúdo da parte inferior da página) */
}
.chamada {
    background: rgb(184, 156, 213);  /* Cor de fundo lilás */
    padding-bottom: 80px;  /* Espaçamento inferior de 80px */
    padding-top: 80px;  /* Espaçamento superior de 80px */
    display: flex;  /* Usando display flex para organizar os itens */
    justify-content: center;  /* Centralizando os itens horizontalmente */
}

.chamada-texto {
    margin-right: 5%;  /* Espaçamento à direita de 5% */
}

h1 {
    font-size: 40px;  /* Tamanho de fonte de 40px para o título */
}

p {
    font-size: 20px;  /* Tamanho de fonte de 20px para os parágrafos */
}
